
.btnSelected2 {
    background-color: #3730a3;
    color: white;
    font-weight: 700;
}
.linSelected {
    background-color: #319795   ;
    color: white;
    font-weight: 700;
}
.lineaConDatoGreen {
    background-color: #86efac   ;
}